extends ../layout

block content
  h1= title

  // action list
  include ../partials/action_list.jade

  .row
    .col-sm-6
      h3 Details
      table.table
        tbody
          tr
            td
              strong Name
            td= restaurant.name

          tr
            td 
              strong Email
            td= restaurant.email

          tr
            td 
              strong Address
            td= restaurant.address

          tr
            td
              strong Geolocation
            td
              if restaurant.geolocation && restaurant.geolocation.coordinates
                - var lat = restaurant.geolocation.coordinates[1]
                - var lng = restaurant.geolocation.coordinates[0]
                a(href="https://www.google.co.jp/maps/@" + lat + "," + lng + ",14z?hl=en")= lat + "," + lng

          tr
            td
              strong Tags
            td
              each tag in restaurant.tags
                span.label.label-info= tag


    .col-sm-6
      each menu in restaurant.menus
        h3 Menu
        table.table
          tbody
            tr
              td
                strong Name
              td= menu.name

            tr
              td
                strong Price
              td= menu.price

            tr
              td
                strong Tags
              td
                each tag in menu.tags
                  span.label.label-danger= tag

            tr
              td
                strong Images
              td
                ul
                  each img in menu.images
                    li
                      a(href=img)= img

