extends ../layout

block content
  h1= title
  
  // search filter
  include ../partials/filter_list.jade

  // action list
  include ../partials/action_list.jade

  table.table.table-hover
    thead
      tr
        th ID
        th Name
        th Address
        th Tags
        th Menus

    tbody
      each restaurant in restaurants
        tr
          td
            a(href="/restaurants/" + restaurant._id.$oid)= restaurant._id.$oid
          td= restaurant.name
          td= restaurant.address
          td
            each tag in restaurant.tags
              span.label.label-info= tag
          td
            a(href="/restaurants/" + restaurant._id.$oid)= restaurant.menus.length
