.well.well-sm
  form#filter-form(role="form")
    - var len = filter_options.length, i = 0, j, opt
    - for(; i < len; i+=4){
      <div class="row">
      
      - for(j=i; j < Math.min(i+4, len); j++){
        - opt = filter_options[j]
        .col-sm-3
          .form-group
            label= opt.label
            input.form-control(type=opt.type, name=opt.name, value=opt.value, ng-model="search." + opt.name)
      - }
      </div>
    - }
    // buttons
    button#btn-filter.btn.btn-info Filter
    button#btn-clear.btn.btn-link Clear
